<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.i2i.ibeaconbukva" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_short"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <service android:name="ua.com.i2i.ibeaconbukva.BeaconServiceListener" />
        <service
            android:name="com.radiusnetworks.ibeacon.service.IBeaconService"
            >
        </service>
        <service
            android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor"
            android:exported="false"
            >
            <meta-data
                android:name="background"
                android:value="true" />

            <intent-filter android:priority="1" >
                <action android:name="com.example.cucumber007.beacon.DID_RANGING" />
                <action android:name="com.example.cucumber007.beacon.DID_MONITORING" />
            </intent-filter>
        </service>

        <activity
            android:name="ua.com.i2i.ibeaconbukva.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.i2i.ibeaconbukva.EnterActivity"
            android:label="@string/title_activity_enter" >
        </activity>
        <activity
            android:name="ua.com.i2i.ibeaconbukva.CoatActivity"
            android:label="@string/title_activity_coat" >
        </activity>
        <activity
            android:name="ua.com.i2i.ibeaconbukva.ShoesActivity"
            android:label="@string/title_activity_shooes" >
        </activity>
    </application>

</manifest>
